/* line 1, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

/* line 8, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
h1 {
  color: #000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* line 13, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.field_with_errors + br {
  display: none;
}

/* line 20, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#error_explanation {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 150px;
  background-color: red;
  opacity: 0.9;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}

/* line 34, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#register {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ytimg.com/vi/L-hBQFIkHR8/maxresdefault.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 47, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.corpus {
  display: flex;
  height: 395px;
  width: 650px;
}

/* line 56, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.left {
  background-color: #008080;
  width: 250px;
  height: 395px;
  opacity: 0.96;
}

/* line 63, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.left p {
  margin-left: 50px;
}

/* line 68, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.left h2 {
  color: #FFF;
  margin-left: 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

/* line 77, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.right {
  display: flex;
  background-color: #FFF;
  width: 400px;
  height: 395px;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  opacity: 0.92;
}

/* line 92, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 99, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#fields, input {
  height: 3em;
  width: 25em;
}

/* line 104, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#user_email {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

/* line 113, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#user_email:hover {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

/* line 120, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#user_password {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

/* line 126, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#user_password:hover {
  border-color: #000;
}

/* line 130, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#user_password_confirmation {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
}

/* line 138, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#user_password_confirmation:hover {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

/* line 145, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#button {
  border-style: none;
  border-radius: 5px;
  background-color: #008080;
  color: #FFF;
  opacity: 0.95;
}

/* line 153, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
#button:hover {
  border-radius: 5px;
  background-color: #2F4F4F;
  color: #FFF;
}

/* line 160, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.signin {
  display: flex;
  background-color: #2F4F4F;
  height: 50px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 0.95;
}

/* line 173, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.signin a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.1em;
}

/* line 179, /home/fabien/Documents/documentsthp/week7/Day1/formulaire-stylay/app/assets/stylesheets/custom.scss */
.signin a:hover {
  color: #000;
  text-decoration: none;
  font-size: 1.1em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

